# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Secrets
.env
.env.*
*.pem
*.key

# macOS
.DS_Store

# Python
__pycache__/
*.pyc
.venv/
venv/

# Node
node_modules/
dist/
